* {
  font-family: 'Courier New', Courier, monospace;
  margin: 10;
  padding: 10;
  box-sizing: border-box;
}
:root {
  --operator: #47B5FF;
  --digit: #182747;
  --dark: #150050;
  --light: white;
  --background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
}

body {
  background-color: var(--light);
}

.App {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.wrapper {
  height: 500px;
  width: 350px;
  background-image: var(--background-image);
  border-radius: 15px;
}

.screen {
  background-color: var(--dark);
  height: 120px;
  color: var(--light);
  font-size: 50px;
  text-align: right;
  border-radius: 15px 15px 0px 0px;
}
.screen span {
  font-size: 25px;
}

button {
  appearance: none;
  border: none;
  outline: none;
  color: var(--light);
  font-size: 20px;
  padding: 15px;
  cursor: pointer;
  transition: 0.4s;
}
button:hover {
  opacity: 0.9
}

.operators {
  background-color: var(--operator);
  display: flex;
  justify-content: space-around;  
}

.operators button {
  flex: 1 1 0%;
  background-color: var(--operator);
  font-weight: 700;
}
.digits {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--digit);
}
.digits button {
  flex: 1 1 33.333%;
  max-width: 33.333%;
  background-color: var(--digit);
  font-weight: 1000;
}